*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    max-width: 1296px;
    margin: 0 auto;

}

.header__nav{
    display: flex;
    gap: 696px;
}

.header__right{
    display: flex;
    align-items: center;
    gap: 32px;
    
}
.header__right ul{
    display: flex;
    gap: 32px;
    font-family:"Poppins", sans-serif;
}

.header__right button{
    background: #04B90B;
    color: #fff;
    width: 137px;
    height: 44px;
    border-radius: 8px;
    border: none;
    font-family:"Poppins", sans-serif;
    cursor: pointer;
}

header{
    padding-top: 34px;
}


.header__right li:nth-child(3){
    color: #04B90B;

}

.header__right li a{
    color: #777E90;
     cursor: pointer;
     text-decoration: none;
}

.hero__content{
    display: flex;
}
.hero__left h1{
    font-family: "Alice", sans-serif ;
    font-weight: 400;
    font-size: 72px;
    width: 852px;
}

.hero__text{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color:#777E90;
    margin: 12px 0  36px;
    width: 674px;
}
.hero__explore{
    display: flex;
    align-items: center;
    gap: 24px;
    color: #04B90B;
    font-family:"Poppins", sans-serif;
    cursor: pointer;
}
.hero__explore button{
    background: #04B90B;
    color: #fff;
    width: 137px;
    height: 44px;
    border-radius: 8px;
    border: none;
    font-family:"Poppins", sans-serif;
    cursor: pointer;

}